@import './global/index';

:root {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter';
    line-height: var(--n-lh-regular);
    color: var(--n-base);
    background-color: var(--n-default);
  }
}
